.markdown-content {
  font-size: 16px;

  img {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    margin-top: 25px;
  }
}

.markdown-heading {
  font-size: 40px;
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}