.markdown-content {
    font-size: 16px;
  }
  
  .markdown-heading {
    font-size: 40px;
    color: black;
    font-weight: bolder;
    margin-bottom: 15px;
  }
  
  .markdown-content img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .markdown-content p {
    margin-top: 25px;
  }
  